<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205052716242-04tmn4jkk2hk3ccidjsdqh840n85922i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205052716242-04tmn4jkk2hk3ccidjsdqh840n85922i</string>
	<key>API_KEY</key>
	<string>AIzaSyB1FfijrlMrqsi5gk00HcjFCzT1zOQ9lhY</string>
	<key>GCM_SENDER_ID</key>
	<string>205052716242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristian.RecipeVersion2</string>
	<key>PROJECT_ID</key>
	<string>recipeversion2</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeversion2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205052716242:ios:bdc2ed328f640d6dac390b</string>
	<key>DATABASE_URL</key>
	<string>https://recipeversion2.firebaseio.com</string>
</dict>
</plist>